<div class="container">
  <div style="padding-top: 15px;">
  <%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' %>
  </div>
      <div class="blog-header">
        <div class="container">
            <h1 class="text-center">ACM Blog</h1>
          <p class="lead blog-description text-center">Information about all latest events.</p>
        </div>
      </div>
    </header>

  <% @blogs.each do |blog| %>

  <div class="blog-post">

    <div class="blog-post-title">
      <%= blog.title  %>
    </div>

    <div class="blog-post-meta">
    <%= blog.description %>
    <br>
  </div>
  <div>
    <%= link_to blog.status, toggle_status_blog_path(blog) %>
    </div>


<% if logged_in?(:site_admin) || (current_user && blog.user_id == current_user.id) %>
  <%= link_to fa_icon("edit 2x"), edit_blog_path(blog), class: "color-black" %> |
    <%= link_to fa_icon("trash 2x") , blog_path(blog), method: :delete,data: {confirm: "Are you sure?"} ,class: "color-red" %> |
<% end %>

<%= link_to fa_icon("chevron-right 2x"), blog_path(blog) %>

  </div>
  <% end %>
<hr>
</div>
