<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ACM NCU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li> <%= link_to "Home", root_path, class: 'nav-link active' %></li>

      <li> <%= link_to "About Us", about_path, class: 'nav-link  active' %></li>

      <li> <%= link_to "Gallery", gallery_path, class: 'nav-link active' %></li>

      <li> <%= link_to "Register an Event", new_event_path, class: 'nav-link active' %></li>

      <li> <%= link_to "Feedback", new_feedback_path, class: 'nav-link active' %></li>

      <li> <%= link_to "Blog", blogs_path, class: 'nav-link active' %></li>
      
    </ul>
  </div>
</nav>