<!DOCTYPE html>
<html>
  <head>
    <title>ACMAPP</title>

    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- Start of navbar -->
  	<%= render 'shared/app_navbar' %>
<!-- End of navbar -->
    <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-secondary notice" role="alert">
        <%= flash[:notice] %>
    </div>
    <% end %>
      </div>

    <%= yield %>

<!-- Start of footer -->
   <%=  render 'shared/app_footer' %>
<!-- End of footer -->

  </body>
</html>
