<!DOCTYPE html>
<html>
  <head>
    <title>ACMAPP</title>

    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- Start of navbar -->
  	<%= render 'shared/app_navbar' %>
<!-- End of navbar -->

<div class="container">  
<% flash.each do |name,msg| %>
      <div class='alert alert-dark'>
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
<!-- content_tag basically cretes a div... For more info check out the api.rubyonrails.org  -->
  <%= content_tag(:div, msg, :id => "flash_#{name}" ) if msg.is_a?(String) %>
  </div>
</div>
<% end %>
</div>

    
      </div>

    <%= yield %>

<!-- Start of footer -->
   <%=  render 'shared/app_footer' %>
<!-- End of footer -->

  </body>
</html>
